/*
Font loading
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800,800i&display=swap");

/* 
Universal vars and classes
*/
:root {
  --blue-color: #396afc;
  --blue-gradient: linear-gradient(to right, #2948ff, #396afc);
}

.shadowed {
  -webkit-box-shadow: 5px 5px 18px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 18px -1px rgba(0, 0, 0, 0.25);
}

/* 
Headings
*/
h1,
.h1-like {
  margin-bottom: 32px;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

/* 
Text style
*/
b,
strong {
  font-weight: 800;
}

/* 
Body style
*/
body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #efefef;
  color: #363636;

  /* Universal font */
  font-family: "Open Sans", sans-serif;
}

/*
Sidebar navigation
*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background: var(--blue-gradient);
  box-sizing: border-box;
  z-index: 10;
}

.nav__logo {
  display: inline-block;
  height: 90%;
}

/*
Main content
*/
.app {
  padding-top: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
}

.app__box {
  max-width: 90%;
  padding: 42px;
  margin-top: 42px;
  margin-bottom: 72px;
  background-color: #ffffff;
  border-radius: 6px;
  box-sizing: border-box;
}

/* Filters bar */
.app__controls {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 150px auto;
  column-gap: 35px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.app__controls__filters {
  display: grid;
  align-items: center;
  grid-template-columns: 225px 125px 125px 185px 100px 32px;
  gap: 25px;
}

/* Records list */
.app__table {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  white-space: normal;
}

/* Make the actions buttons width fixed */
.app__table th:last-child {
	width: 150px;
}

/* Form */
.app__box__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: 50px;
  row-gap: 35px;
  box-sizing: border-box;
  width: 100%;
}

.mdl-radio {
  margin-right: 25px;
}

.app__box__form__full-width {
  grid-column: span 2;
  width: auto;
  text-align: center;
}

/* 
Pagination
*/
.app__pagination {
	text-align: center;
	width: 100%;
	margin-top: 50px;
	vertical-align: middle;
}

.app__pagination__item,
.app__pagination__item--active {
	display: inline-block;
	margin: 0 5px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 100%;
}

.app__pagination__item {
	background-color: #eaeaea;
}

.app__pagination__item--active {
	background-color: #3f51b5;
	color: #ffffff;
	font-weight: 800;
}